# GUI y widgets
PySide6>=6.3.0

# Manejo de documentos
pdfplumber>=0.7.4
openpyxl>=3.0.10
PyPDF2>=3.0.0
pandas>=1.3.4

# Integración con Java
jpype1>=0.7.5
mpxj>=1.5.0

# Utilidades y herramientas
workalendar>=15.1.1
pycryptodome>=3.19.0

# Inicio automático de la aplicación (Solo para Windows)
pywin32>=304
